<script src="~/Scripts/js/product.js"></script>
@{
    ViewBag.Title = "Productos";
}

<div class="container">
    <h2>Listado de Productos</h2>
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal" onclick="showModal();">Agregar Producto</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Stock
                </th>
                <th>
                    Detalle
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Autor
                </th>
                <th>
                    Fecha de creacion
                </th>
                <th>
                    Fecha de actualizacion
                </th>
                <th>
                    Accion
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Producto</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="hideModal();">×</button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <input type="hidden" id="Id_Product" />
                    <div class="form-group">
                        <label for="Id_Category">Categoria</label>
                        <select class="form-control" name="id_category" id="Id_Category">
                            <option value="" selected="selected" disabled="disabled">Seleccione una opcion</option>
                            @{ foreach (var category in ViewBag.categories)
                                {
                                    <option value="@category.Id_Category">@category.Name</option>
                                }
                            }
                        </select>
                    </div><br />
                    <div class="form-group">
                        <label for="Name">Nombre</label>
                        <input type="text" class="form-control" name="name" id="Name" placeholder="Nombre" />
                    </div><br />
                    <div class="form-group">
                        <label for="Description">Descripcion</label>
                        <input type="text" class="form-control" name="description" id="Description" placeholder="Descripcion" />
                    </div><br />
                    <div class="form-group">
                        <label for="Stock">Stock</label>
                        <input type="number" class="form-control" name="stock" id="Stock" placeholder="Stock" />
                    </div><br />
                    <div class="form-group">
                        <label for="Detail">Detalle</label>
                        <input type="text" class="form-control" name="detail" id="Detail" placeholder="Detalle" />
                    </div><br />
                    <div class="form-group">
                        <label for="Status">Estado</label>
                        <select class="form-control" name="status" id="Status">
                            <option value="" selected="selected" disabled="disabled">Seleccione una opcion</option>
                            <option value="true">Activo</option>
                            <option value="false">Inactivo</option>
                        </select>
                    </div><br />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" id="btnAdd" onclick="return Add();">Agregar</button>
                <button type="button" class="btn btn-outline-primary" id="btnUpdate" style="display:none;" onclick="Update();">Actualizar</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal" onclick="hideModal();">Cerrar</button>
            </div>
        </div>
    </div>
</div>